<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Board">
    <insert id="save" parameterType="board" useGeneratedKeys="true" keyProperty="id">
        insert into newBoard_table(boardWriter, boardTitle, boardContents, fileAttached)
        values (#{boardWriter}, #{boardTitle}, #{boardContents}, #{fileAttached})
    </insert>

    <insert id="saveFile" parameterType="boardFile">
        insert into newBoard_file_table(originalFileName, storedFileName, boardId)
        values (#{originalFileName}, #{storedFileName}, #{boardId})
    </insert>

    <select id="findAll" resultType="board">
        select * from newBoard_table
    </select>

    <select id="pagingList" parameterType="java.util.HashMap" resultType="board">
        select id, boardWriter, boardTitle, date_format(createdAt, "%y-%m-%d") as createdAt,
               boardHits from newBoard_table order by boardHits desc limit #{start}, #{limit}
    </select>

    <select id="count" resultType="Integer">
        select count(id) from newBoard_table
    </select>

    <select id="search" parameterType="java.util.HashMap" resultType="board">
        select id, boardWriter, boardTitle,
               date_format(createdAt, "%y-%m-%d") as createdAt, boardHits
        from newBoard_table where ${type} like concat('%', #{q},'%') order by boardHits desc
            limit #{start}, #{limit}
    </select>

    <select id="searchCount" parameterType="java.util.HashMap" resultType="Integer">
        select count(id) from newBoard_table where ${type} like concat('%', #{q},'%')
    </select>

    <update id="updateHits" parameterType="Long">
        update newBoard_table set boardHits = boardHits +1 where id = #{id}
    </update>

    <select id="findById" parameterType="Long" resultType="board">
        select * from newBoard_table where id = #{id}
    </select>

    <select id="findFile" parameterType="Long" resultType="boardFile">
        select * from newBoard_file_table where boardId = #{boardId}
    </select>

    <select id="updateForm" parameterType="Long" resultType="board">
        select * from newBoard_table where id = #{id}
    </select>

    <select id="update" parameterType="board">
        update newBoard_table set boardTitle = #{boardTitle}, boardContents = #{boardContents} where id = #{id}
    </select>

    <delete id="delete" parameterType="Long">
        delete from newBoard_table where id = #{id}
    </delete>
</mapper>