<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">
    <insert id="save" parameterType="member" useGeneratedKeys="true" keyProperty="id">
        insert into newMember_table (memberEmail, memberPassword, memberName, memberMobile, memberProfile)
        values (#{memberEmail}, #{memberPassword}, #{memberName}, #{memberMobile}, #{memberProfile})
    </insert>

    <insert id="saveFile" parameterType="memberFile" >
        insert into member_file_table(originalFileName, storedFileName, memberId)
        values (#{originalFileName}, #{storedFileName}, #{memberId})
    </insert>

    <select id="findByEmail" parameterType="String" resultType="member">
        select * from newMember_table where memberEmail = #{memberEmail}
    </select>

    <select id="login" parameterType="member" resultType="member">
        select * from newMember_table where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>

    <select id="findAll" resultType="member">
        select * from newMember_table
    </select>

    <delete id="delete" parameterType="Long">
        delete from newMember_table where id = #{id}
    </delete>

    <update id="update" parameterType="member">
        update newMember_table set memberName = #{memberName}, memberMobile = #{memberMobile}
        where id = #{id}
    </update>

    <delete id="deleteMember" parameterType="String">
        delete from newMember_table where memberEmail = #{memberEmail}
    </delete>

    <select id="loginCheck" parameterType="java.util.HashMap" resultType="member">
        select * from newMember_table where memberEmail = #{memberEmail} and memberPassword = #{memberPassword}
    </select>
</mapper>